{% extends "base.twig" %}

{% block title %}
    Segment comparison for {{ activity.name }}
    ({{ activity.start_date | date('d/m/Y H:i')}})
{% endblock %}

{% block content %}
    <h1>{{ activity.name }} ({{ activity.start_date | date('d/m/Y H:i')}})</h1>
    {% for segment_id, seg_data in activity_segments %}
        <h2>{{ seg_data.name }}</h2>
        <ul>
            {% for effort in seg_data.efforts %}
            <li>{{ effort.athlete_name }} has a PB of {{ effort.duration }} seconds</li>
           {% endfor %}
       </ul>
    {% endfor %}
{% endblock %}
